<header>
  <div class="container_12">
    <div class="grid_12">
      <div class="socials">
        <a href="https://www.facebook.com/Henristauration-716005328586263/"></a>
      </div>
      <h1><img src="../../assets/images/henristauration.png" alt="Boo House"> </h1>
      <div class="menu_block">
        <nav id="bt-menu" class="bt-menu bt-menu-open">

          <ul class="header">
            <li *ngFor="let page of pages" id={{page.name}} class="bt-icon" [class.current]="page === currentPage"
              (click)="onSelect(page)">
              {{page.friendlyName}}
            </li>
            <!--<li id="index" class="bt-icon "><a href="index.html">Home</a></li>
            <li id="menu" class="bt-icon"><a href="menu.html">Menu</a></li>
            <li id="location" class="bt-icon"><a href="location.html">Location</a></li>
            <li id="contacts" class="bt-icon"><a href="contacts.html">Contact</a></li>
            <li id="about" class="bt-icon"><a href="about.html">À propos</a></li>-->
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>