<header>
  <div class="container_12">
    <div class="grid_12">
      <div class="socials">
        <a href="https://www.facebook.com/Henristauration-716005328586263/"></a>
      </div>
      <h1><img src="./assets/images/henristauration.png" alt="Boo House"> </h1>
      <div class="menu_block">
        <nav id="bt-menu" class="bt-menu bt-menu-open">

          <ul class="header">
            <li *ngFor="let header of headers" id={{header.name}} class="bt-icon"
              [class.current]="header === currentHeader">
              <nav>
                <a routerLink="/{{header.name}}"> {{header.friendlyName}}
                </a>
              </nav>
            </li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>