footer {
    padding: 75px 0 70px;
    display: block;
    color: #85846d;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

footer a:hover {
    color: #5f5e4e;
}

.f_logo {
    display: inline-block;
    margin-bottom: 28px;
}

.copy {
    padding-top: 31px;
    margin: 0 7px;
    border-top: 1px solid #5f5e4e;
}

#toTop {
    background: url("../../assets/images/totop.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    border: medium none;
    bottom: 70px;
    display: none;
    height: 55px;
    width: 55px;
    left: 58%;
    margin-left: 500px;
    overflow: hidden;
    position: fixed;
    text-decoration: none;
    text-indent: -999px;
    transition: all 0s ease 0s;
    z-index: 20;
}

#toTop:hover {
    background-position: right 0;
    outline: medium none;
}