<div class="content">
  <div class="container_12">
    <div class="grid_8">
      <h3>À propos</h3>
      <img src="./assets/images/page2_img.jpg" alt="" class="img_inner fleft">
      <div class="extra_wrapper">
        <p class="col1">
          Henrist Bryan, <br>
      </div>
      <p>Diplomé d'école hotelière de l'institut Saint-Joseph, vous propose des menus et services en restauration.</p>
      <p>Réception, souper de société, fancy-fair, reception de mariage et tout autre évenement.</p>
    </div>
  </div>
</div>