<div class="content">
  <div class="container_12">
    <div class="grid_12">
      <h3 class="head2">Nos Menus</h3>
    </div>

    <div class="tabs tb gallery">
      <div class="div-nav  ">
        <div class="grid_12">
          <ul id="menuTab" class="nav">
            <li id="breakfast_"><a href="#breakfast" class="">Petit-Déjeuner</a></li>
            <li id="wdiner_"> <a href="#wdiner">Walking Diner</a></li>
            <li id="bread_"> <a href="#bread">Pains Surprise</a></li>

            <li id="diner_"> <a href="#diner">Diner</a></li>
            <li id="porchetta_"> <a href="#porchetta">Porchetta</a></li>
            <li id="bbq_"> <a href="#bbq">Barbecue</a></li>

            <br>
            <li id="menu_"> <a href="#menu">Menu</a></li>

          </ul>
        </div>
      </div>
      <div class="div-tabs">

        <div id="breakfast" class="tab-content gallery1">
          <div class="grid_3">
            <a href="../assets/images/formules/pd-f1.jpg" class="gal"><img
                src="../assets/images/formules/pd-f1-small.jpg" alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Formule petit-déjeuner 1</a></span> € 2.99</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/formules/pd-f2.jpg" class="gal"><img
                src="../assets/images/formules/pd-f2-small.jpg" alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Formule petit-déjeuner 2</a></span> € 3.99</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/formules/pd-f3.jpg" class="gal"><img
                src="../assets/images/formules/pd-f3-small.jpg" alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Formule petit-déjeuner 3</a></span> € 4.99</div>
          </div>
        </div>


        <div id="wdiner" class="tab-content gallery3">
          <div class="grid_3">
            <a href="../assets/images/big1.jpg" class="gal"><img src="../assets/images/page3_img1.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Cras facilisis</a></span> $ 19.99</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/big2.jpg" class="gal"><img src="../assets/images/page3_img2.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Phasellus erat </a></span> $ 21.99</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/big3.jpg" class="gal"><img src="../assets/images/page3_img3.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Kneras facilisis </a></span> $ 23.90</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/big4.jpg" class="gal"><img src="../assets/images/page3_img4.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Dert facilis</a></span> $ 25.30</div>
          </div>
        </div>

        <div id="bread" class="tab-content gallery3">
          <div class="grid_3">
            <a href="../assets/images/big1.jpg" class="gal"><img src="i../assets/mages/page3_img1.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Cras facilisis</a></span> $ 19.99</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/big2.jpg" class="gal"><img src="../assets/images/page3_img2.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Phasellus erat </a></span> $ 21.99</div>
          </div>
        </div>

        <div id="diner" class="tab-content gallery2">

          <div class="grid_3">
            <a href="../assets/images/big5.jpg" class="gal"><img src="../assets/images/page3_img5.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Destro fetolis </a></span> $ 10.99</div>
          </div>
          <div class="grid_3">
            <a href="../assets/../assets/images/big6.jpg" class="gal"><img src="images/page3_img6.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Holi erat </a></span> $ 20.99</div>
          </div>
        </div>


        <div id="porchetta" class="tab-content gallery2">

          <div class="grid_3">
            <a href="../assets/images/fomrules/pork.jpg" class="gal"><img src="../assets/images/formules/pork-small.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Destro fetolis </a></span> $ 10.99</div>
          </div>

        </div>

        <div id="bbq" class="tab-content gallery2">

          <div class="grid_3">
            <a href="../assets/images/big5.jpg" class="gal"><img src="../assets/images/page3_img5.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Destro fetolis </a></span> $ 10.99</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/big1.jpg" class="gal"><img src="../assets/images/page3_img1.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Cras facilisis</a></span> $ 19.99</div>
          </div>
        </div>

        <div id="menu" class="tab-content gallery4">

          <div class="grid_3">
            <a href="../assets/images/big2.jpg" class="gal"><img src="../assets/images/page3_img2.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Phasellus erat </a></span> $ 21.99</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/big3.jpg" class="gal"><img src="../assets/images/page3_img3.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Kneras facilisis </a></span> $ 23.90</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/big4.jpg" class="gal"><img src="../assets/images/page3_img4.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Dert facilis</a></span> $ 25.30</div>
          </div>
          <div class="grid_3">
            <a href="../assets/images/big5.jpg" class="gal"><img src="../assets/images/page3_img5.jpg"
                alt=""><span></span></a>
            <div class="col2"><span class="col3"><a href="#">Destro fetolis </a></span> $ 10.99</div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>