<div class="content">
    <div class="container_12">
        <mat-tab-group>
            <div *ngFor="let class of classes_courses">
                <mat-tab label="Classe {{class.name}}">
                    <div class="grid_10 prefix_1">
                        <ul class="list">
                            <br>
                            <div *ngFor="let course of class.courses">
                                <li>
                                    <a href="{{url}}/api/course/{{course.name}}">{{course.name}}</a>
                                </li>
                            </div>
                            <div *ngIf="class.courses.length">

                            </div>
                            <br>
                            <br>
                            <br>
                        </ul>
                    </div>
                </mat-tab>
            </div>
        </mat-tab-group>
    </div>
</div>