<div class="content">
  <a id="breakfast" class="block1">
    <img src="../../assets/images/breakfast.jpg" alt="">
    <span class="price far_left">
      <br>
      <span>Petit-Déjeuner</span><strong></strong>
    </span>
    <span class="price center">
      <br>
      <span>Walking Diner</span><strong></strong>
    </span>

    <span class="price far_right">
      <br>
      <span>Pains surprise</span><strong></strong>
    </span>
  </a>

  <a id="diner" class="block1">
    <img src="../../assets/images/blur_img1.jpg" alt="">
    <span class="price far_left">
      <br>
      <span>Diner</span><strong></strong>
    </span>
    <span class="price center">
      <br>
      <span>Porchetta </span><strong></strong>
    </span>
    <span class="price far_right">
      <br>
      <span>Barbecue</span><strong></strong>
    </span>
  </a>
  <a href="menu.html#menu" class="block1">
    <img src="../../assets/images/menu2.jpg" alt="">
    <span class="price">
      <br>
      <span>Menu</span><strong></strong>
    </span>
  </a>
</div>